# Meta stuff
/package.json @ellisd24

/.travis.yml  @ellisd24

/webpack.config.js  @ellisd24
/webpack_config/* @ellisd24

/netlify.toml

/build_scripts/release.sh @ellisd24

# Code
## Homebrew
/src/io/ContentPackParser.ts @ellisd24
/src/classes/ContentPack.ts  @ellisd24
